/.php-cs-fixer.cache
/.php-cs-fixer.php
/.phpunit.cache/
/.phpunit.result.cache
/bin
/build/
/composer.lock
/phpunit.xml
/vendor-bin/tools/bin/
!/vendor-bin/tools/composer.lock
/vendor-bin/tools/vendor/
/vendor/
